@import 'bootstrap';
@import 'reset';
@import 'lightbox';


$grey : #151616;
$orange : #ff6902;
$pink : #fc4787;

img{
	max-width: 100%;
}

body{
	font-family: 'IBM Plex Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
}

body, html{
	height: auto !important;
}

img{
	display: block;
}


.container-popin{
	background: #000;
	padding: 30px;
}

.popin-newsletter{
	display: block;
	position: fixed;
	z-index: -400;
	opacity: 0;
	width: 100%;
	max-width: 1050px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background: linear-gradient(-0.35turn, $orange, $pink);


	&.is-open{
		z-index: 400;
		opacity: 1;
	}

	.close-popin{
		position: absolute;
		right: 30px;
		top: 30px;
		color: #FFF;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .3em;
		cursor: pointer;
		transition: .3s;

		&:hover{
			color: $orange;
		}
	}
	iframe{
		width: 100%;
		max-width: 850px;
		margin: 0 auto;
		display: block;
	}
}

.title-page{
	font-size: 6vw;
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
	padding-top: 60px;
}

.title-little{
	font-size: 1.7vw;
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
}

.no-height{
	position: static;
}


.text-presta{
	height: 100%;
	padding-left: 15px;
}

.contain-text{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.image-presta{
	position: relative;

	&:before{
		content: '';
		width: 100%;
		height: 100%;
		border: 3px solid;
		border-image: linear-gradient($pink, $orange) 30;
		position: absolute;
		left: 15px;
		top: 15px;
	}
}


.text-presta{
	.title-little{
		margin-bottom: 15px;
	}

	.link{
		margin-top: 20px;
		display: inline-block;
	}

	p{
		font-size: 1vw;
	}
}

.presta-item{
	margin-top: 50px;
}

.header{
	background: $grey;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 30;

	.logo{
		width: 210px;
		padding: 17px 20px;
		max-width: none;
		position: relative;
		top: 1px;
	}

	.navigation-principal{
		display: block;
		text-align: right;
		margin-right: -15px;

		li{
			display: inline-block;
			a{
				display: block;
				padding: 20px;
				letter-spacing: .3em;
				font-size: 12px;
				font-weight: 500;
				color: #FFF;
				text-transform: uppercase;

				transition: .3s;

				&:hover{
					text-decoration: none;
					color: $orange;
				}
			}
		}
	}
}

.container-homepage{
	position: absolute;
	width: 100%;
	height: calc(100% - 104px);
	background: $grey;
	top: 52px;
	left: 0;
	overflow: hidden;

	.left-part{
		width: 50%;
		height: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-color: #000;
	}

	.right-part{
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		color: #FFF;

		.background{
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;


			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($grey, .6);
			}

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(1turn, rgba($orange, .8), rgba($pink, .6));
				transition: .3s;
			}

		}

		.top-content{
			position: relative;
			z-index: 10;
			padding: 30px;

			.claim{
				width: 295px;
				margin-bottom: 60px;
			}

			.title-big{
				font-size: 5.6vw;
				text-transform: uppercase;
				font-weight: 900;
				letter-spacing: 0vw;
				margin-bottom: 10px;
				line-height: .9;
			}

			.title-medium{
				font-size: .9vw;
				letter-spacing: .3em;
				text-transform: uppercase;
				font-weight: 600;
			}
		}

		.bottom-content{
			position: absolute;
			bottom: 30px;
			left: 30px;
			text-transform: uppercase;

			.item-date{
				margin-bottom: 20px;
				.date{
					font-size: 1.8vw;
					font-weight: 800;
					letter-spacing: 0.1vw;
					margin-bottom: 10px;
				}

				.location{
					font-size: 1vw;
					letter-spacing: 0.2vw;
				}
			}

			.sup-info{
				margin-top: 20px;
				color: #FFF;
				font-size: .7vw;
				letter-spacing: 0.2vw;
				font-style: italic;
			}

		}
	}
}


.content-site{
	position: relative;
	background: #000;
	min-height: calc(100vh - 104px);
	margin-top: 52px;
	padding: 0 80px;
	padding-bottom: 140px;

	&.contact{
		background-size: cover;


		.title-page{
			z-index: 300;
			position: relative;
		}



		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(#000, .8);
			width: 100%;
			height: 100%;
		}
	}
}


.footer{
	background: $grey;
	width: 100%;
	padding: 20px;

	&.homepage{
		position: fixed;
		left: 0;
		z-index: 30;
		bottom: 0;
	}

	a{
		letter-spacing: .3em;
		font-size: 12px;
		font-weight: 500;
		color: #FFF;
		text-transform: uppercase;
		transition: .3s;
		position: relative;
		top: -1px;

		&:hover{
			text-decoration: none;
			color: $orange;
		}
	}
}


.galerie-container{
	margin-top: 62px;
}
.item-galerie{
	width: 25%;

	img{
		width: 100%;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		transition: .3s;

		opacity: 0;


		&:hover{
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
		}


		&.is-visible{
			opacity: 1;
		}
	}

}

.facebook-link{
	position: relative;
	padding-left: 18px;

	&:before{
		content: '';
		width: 6px;
		background: url('../images/facebook.png');
		-webkit-background-size: contain;
		background-size: contain;
		height: 14px;
		position: absolute;
		top: -1px;
		left:	0;
	}
}




.button{
	display: inline-block;
	letter-spacing: .3em;
	font-size: 12px;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;

	&.gradient{
		padding: 20px 40px !important;
		background: linear-gradient(-0.35turn, $orange, $pink);

		&:hover{
			background: linear-gradient(0.35turn, $orange, $pink);
			color: #FFF !important;
		}
	}


	&:hover{
		color: #FFF;
		text-decoration: none;
	}
}
.container{
	max-width: 1250px;
}


.text-project{
	padding: 40px;

	.button{
		margin-top: 40px;
	}

}

.container-video{
	margin-left: -120px;
	position: relative;
	cursor: pointer;
	margin-top: 15px;

	&.has_video{
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 60px;
			height: 60px;
			z-index: 2;
			background-size: contain;
			background-image: url('../images/play.png');
		}

		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .4;
			left: 0;
			top: 0;
			position: absolute;
		}
	}

	iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
	}
}

.title-second{
	font-size: 4vw;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 25px;
}


p{
	color: #FFF;
	font-size: 1.2vw;
	line-height: 1.5;
	opacity: .8;
}




.link{
	color: #FFF;
	font-size: 1.1vw;
	font-weight: 800;
	transition: .3s;

	&:hover{
		color: $orange;
		text-decoration: none;
	}
}

// Loader



.loader{
	position: fixed;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 40px $grey inset;

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		mix-blend-mode: screen;
	}
}




.loading {
	animation: rotation 1s infinite linear;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	border-top-color: rgba(255, 255, 255, 0.7);
	height: 15px;
	width: 15px;

	position: absolute;
	left: calc(50% - 9px);
	top: calc(50% + 60px);
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}

/* Extra junk */

html, body {
	height: 100%;
}

.loader {
	animation: bgTransition 4s infinite linear;
}

.loading {
	margin: auto;
}

@keyframes bgTransition {
	0% {
		background-color: #ff6902;
	}

	50% {
		background-color: #fc4787;
	}
	100% {
		background-color: #ff6902;
	}

}


.menu-burger{
	width: 25px;
	height: 35px;
	right: 18px;
	position: absolute;
	top: 10px;
	display: none;
	&:before{
		content: 'Navigation';
		position: absolute;
		right: 100%;
		color: #FFF;
		top: 11px;
		margin-right: 10px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 800;
	}

	.barre{
		width: 100%;
		height: 2px;
		background: $pink;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before, &:after{
			content: '';
			width: 100%;
			height: 2px;
			background: $pink;
			position: absolute;
		}

		&:before{
			top: -6px;
		}

		&:after{
			top: 6px;
		}
	}
}


.label-contact{
	font-size: 1.2vw;
	color: #FFF;
	opacity: .7;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 10px;

	&:nth-child(2){
		margin-top: 30px;
	}
}

.container-contact{
	position: absolute;
	left: 50px;
	bottom: 50px;
	z-index: 30;

	.label-contact{
		margin-top: 30px;
	}
}

.title-medium-contact-mail{
	font-size: 3vw;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	transition : .3s;

	&:hover{
		text-decoration: none;
		color: $orange;
	}
}



// Responsive

//Tablette

@media screen and (max-width: 768px) {

	.menu-burger{
		display: block;
	}

	.loader{
		box-shadow: none;

		img{
			max-width: 70%;
		}
	}

	.header{
		height: 56px;

		.link-logo{
			display: inline-block;
		}

		.navigation-principal{
			position: fixed;
			background: #222;
			top: 55px;
			width: 70%;
			height: calc(100% - 100px);
			right: 0;
			transform: translate(100%, 0);
			transition: .3s;

			&.is-open{
				transform: translate(0%, 0);
			}

			li{
				display: block;
				text-align: right;
				border-bottom: 1px solid rgba(#111, .4);

				a{
					padding-right: 40px;
				}
			}
		}

		.logo{
			padding: 17px 0;
			width: 165px;
			top: 3px;
		}
	}


	.container-homepage{
		.left-part{
			width: 100%;
			height: 60%;
		}
		.right-part{
			width: 100%;
			height: 40%;
			bottom: 0;
			top: auto;

			.top-content{
				padding: 15px;
				text-align: center;

				.claim{
					width: 195px;
					margin-bottom: 10px;
					display: inline-block;
				}

				.title-big{
					font-size: 35px;
				}

				.title-medium{
					display: none;
				}
			}

			.bottom-content{
				text-align: center;
				left: 0;
				width: 100%;
				padding: 0 40px;
				.sup-info{
					font-size: 9px;
				}

				.item-date{
					margin-bottom: 15px;

					.date{
						font-size: 15px;
						margin-bottom: 4px;
					}
					.location{
						font-size: 12px;
					}
				}
			}
		}
	}


	.footer{
		padding: 18px 0;
		height: 56px;
		a{
			font-size: 9px;
		}
		.facebook-link{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}


	.content-site{
		padding: 0;
		padding-bottom: 55px;

	}

	.item-galerie{
		width: 50%;
	}

	.title-page{
		font-size: 36px;
		padding-top: 30px;
	}

	.galerie-container{
		margin-top: 30px;
	}


	.title-second{
		font-size: 30px;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.text-project{
		padding: 15px;
	}

	p{
		font-size: 14px;
	}

	.button{
		display: block;
		text-align: center;
		letter-spacing: .1em;
	}

	.container-video{
		margin-left: -30px;
		width: calc(100% + 55px);
	}

	.contain-text{
		top: 0;
		transform: none;

		.title-little{
			margin-top: 40px;
			margin-bottom: 7px;
		}
	}

	.text-presta p{
		font-size: 14px;
	}

	.text-presta .link{
		font-size: 15px;
	}

	.title-little{
		font-size: 24px;
	}

	.end-mobile{
		margin-bottom: 20px;
	}


}


@media screen and (max-width: 375px) {
	.container-homepage .right-part{
		height: 79%;
		width: calc(100% - 40px);
		right: 20px;

	}
	.container-homepage .left-part{
		height: 54%;
		top: -65px;
		position: absolute;

	}

	.container-homepage{
		background: #000;
	}
}



@media screen and (max-width: 320px) {
	.container-homepage .right-part{
		height: 75%;
	}
	.container-homepage .left-part{
		height: 25%;
	}
}
